@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
.App {
    text-align: center;
}

body {
    background: linear-gradient(to left, #4986f7, #000000)
}

h1 {
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #61dafb;
}